# Dependencies
node_modules/

# Build output
.next/
dist/
out/
.turbo/

# Test output
coverage/

# Environment files
.env
.env.*.local

# Tooling and operating system files
*.tsbuildinfo
.DS_Store
*.log
**/next-env.d.ts

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
